//core-ui
@import "core";

//buttons
@mixin common-button-params{
  display:inline-block;
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
  text-shadow:1px 1px 0px #528009;
  cursor:pointer;
}

@mixin small-button {
  font-size:1.2rem;
  padding:0.2rem 0.4rem;
  border:1px solid; 
  @include common-button-params; 
  @include border-radius(0.5rem);
  a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    &:hover{color: #ffffff;}
    &:visited{color: #ffffff;}
  }
      
}

@mixin red-button {border-color: #db817b; @include red_28_gradient; @include button-box-shadow(#fed897);
                      &:hover {@include inverted_red_28_gradient; }}
@mixin green-button {border-color: #b0db64; @include green_28_gradient; @include button-box-shadow(#a4e271);
                      &:hover {@include inverted_green_28_gradient; }}
@mixin orange-button {border-color: #ebc178; @include orange_28_gradient; @include button-box-shadow(#f29c93);
                      &:hover {@include inverted_orange_28_gradient; }} 
@mixin dark-grey-button {border-color: #ddd; @include dark_grey_28_gradient; @include button-box-shadow(#aaa);
                      &:hover {@include inverted_dark_grey_28_gradient; }}                                           
                      
//table row icons
@mixin menu_icons($var) {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: asset_url('line_menu_icons.png') 0px $var no-repeat;
    &:hover{
      background: asset_url('line_menu_icons.png') -0px $var - 20px no-repeat;
    }
}

@mixin form_icons($var) {
    background: asset_url('line_menu_icons.png') 0px $var no-repeat;
    &:hover{
      background: asset_url('line_menu_icons.png') -0px $var - 20px no-repeat;
    }
}

.line_insert_icon {@include menu_icons(-560px);}
.line_new_icon {@include menu_icons(-520px); float: right; padding: 0px 5px 0px 0px;}
.line_edit_icon {@include menu_icons(-80px); float: right; padding: 0px 5px 0px 0px;}
.line_delete_icon {@include menu_icons(-120px); float: right; padding: 0px 5px 0px 0px;}
.line_move_icon {@include menu_icons(-0px);}
.line_menu_icon {@include menu_icons(-40px); float: right; padding: 0px 5px 0px 0px;}

.line_mileage_icon {@include menu_icons(-920px); float: right; padding: 0px 5px 0px 0px;}

.line_up_icon {@include menu_icons(-680px); float: right; padding: 0px 5px 0px 0px;}
.line_down_icon {@include menu_icons(-720px); float: right; padding: 0px 5px 0px 0px;}

.line_view_icon {@include menu_icons(-760px); float: right; padding: 0px 5px 0px 0px;}
.line_show_icon {@include menu_icons(-800px); float: right; padding: 0px 5px 0px 0px;}


.line_show_icon_show {@include menu_icons(-800px); float: right; padding: 0px 5px 0px 0px;}
.line_show_icon_hidden {@include menu_icons(-800px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_edit_icon_show {@include menu_icons(-80px); float: right; padding: 0px 5px 0px 0px;}
.line_edit_icon_hidden {@include menu_icons(-80px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_delete_icon_show {@include menu_icons(-120px); float: right; padding: 0px 5px 0px 0px;}
.line_delete_icon_hidden {@include menu_icons(-120px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_accept_icon_show {@include menu_icons(-840px); float: right; padding: 0px 5px 0px 0px;}
.line_accept_icon_hidden {@include menu_icons(-840px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_reject_icon_show {@include menu_icons(-880px); float: right; padding: 0px 5px 0px 0px;}
.line_reject_icon_hidden {@include menu_icons(-880px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_invoice_icon_show {@include menu_icons(-1080px); float: right; padding: 0px 5px 0px 0px;}
.line_invoice_icon_hidden {@include menu_icons(-1080px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_payment_icon_show {@include menu_icons(-1080px); float: right; padding: 0px 5px 0px 0px;}
.line_payment_icon_hidden {@include menu_icons(-1080px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_reconcile_icon_show {@include menu_icons(-1040px); float: right; padding: 0px 5px 0px 0px;}
.line_reconcile_icon_hidden {@include menu_icons(-1040px); display: none; float: right; padding: 0px 5px 0px 0px;}

.line_pdf_icon {@include menu_icons(-1000px); float: right; padding: 0px 5px 0px 0px;}
.line_pdf_icon_show {@include menu_icons(-1000px); float: right; padding: 0px 5px 0px 0px;}
.line_pdf_icon_hidden {@include menu_icons(-1000px); display: none; float: right; padding: 0px 5px 0px 0px;}


.line_menu_icon {@include menu_icons(-40px); float: right; padding: 0px 5px 0px 0px;}

.table_pdf_icon {@include menu_icons(-1000px); float: right; padding: 0px 5px 0px 0px;}
.table_csv_icon {@include menu_icons(-960px); float: right; padding: 0px 5px 0px 0px;}

//form action icons

@mixin form_save_icon {@include form_icons(-320px);}