
article div.article-set{
  border: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;  
}

article {font-size: 1.2rem;}

article label.label_80 {
    float: left;
    width: 80px;
}

article span {
    display: block;
    overflow: hidden;
    padding: 0 5px 0 0;
}

article span ul{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 20px;  
}


