@import "core";

.flash_notice{
  padding: 5px 10px 5px 10px;
  margin:  5px 0px 5px 0px;
  border: solid 1px $notice_text_colour;
  @include border-radius(0.5rem);
  color: $notice_text_colour;
  p{margin: 0;}
}


