//core-ui
@import "core";
//@import "buttons";

.header{
  margin: 0px 10px 0px 10px;
  @include border-radius(0.5rem);
  @include shadow-all(0px 0px 5px #aeaeae);  
  @include dark_grey_46_gradient;
}


.header figure{
  float: left;
  margin: 7px 0px 0px 8px;
  padding: 0px;
  }


//.app_logout{  
//  float: right;
//  margin: 13px 8px 0px 0px;
//  font-family: $heading_font;
//  @include small-button;
//  @include red-button;
//  @include shadow-all(0px 0px 5px #aeaeae);
//  border: 1px solid #000;
//    a{color:#ffffff;
//      text-decoration: none;
//      cursor: pointer;
//      &:hover{color: #ffffff;}
//      &:visited{color: #ffffff;}
//    }
//  }
//  @media screen and (max-width: $tablet-protrait) {
//    .app_logout {

//    }  
//  } 

