

  ul.left_menu{
      display: block;
      float: left;
      padding: 0px;
      margin: 13px 0px 0px 0px;
      list-style-type: none;
      li{float:left;
      //  height:30px;
        a{
          float: left;
          height: 32px;
          font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
          font-weight: bold;
          font-size: 1.4rem;
          text-decoration: none; 
          padding: 0px 9px 0px 9px;
          color: #fff;
          &:hover {text-decoration: underline;}   
        }
        ul.sub_menu{
          visibility: hidden;
          position: absolute;
          top: 54px;
          z-index: 1000;
//          margin: 0px 0px 0px 30px;
          padding: 0px 0px 0px 0px;
          background: #000;
          list-style-type: none;
          li{clear: both;
            height:36px;
            width:100%;
            border-top: 1px solid #555;
            &:hover{background: #555;}
            a{
              height:25px;
              padding: 11px 10px 0px 10px;
              width:100%;
              font-size: 1.1rem;
              color: #fff;
              &:hover {
                text-decoration: underline;
                color: #fff;
              }             
            }
          }
        }
      }  
  }

  ul.left_menu li:first-child a{
    color: #7EC9F7;
  }

  
  .left_menu_mob_select{
    display: none;
  } 

@media all and (max-width: 800px){//, only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  
  //mobile menu item  
  .left_menu_mob_select {  
    display: block;
    float: left;
    padding: 0px;
    margin: 13px 0px 0px 0px;
    font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0px 9px 0px 9px;
    color: #fff;
    cursor: pointer;
    &:hover{
      text-decoration: underline;    
    }
  }
  
  
  //mobile drop down menu     
  ul.left_menu {
      display: none;
      position: absolute;
      top: 42px;
      left: 30px;
      right: 30px;
      list-style-type: none;
      z-index: 1000;
      li{
         background: #000;
         border-top: 1px solid #555;
         width: 100%;
        a{
          display: block;
          font-family: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
          font-weight: bold;
          font-size: 1.4rem;
          text-decoration: none;
          line-height: 40px;
          padding: 0px 9px 0px 9px;
          color: #fff;
          width: 100%;
          &:hover {
            text-decoration: underline;
            background: #333;
          }
        }  
        ul{
          display: none; //add to stop submenus showing in small screens
          padding: 0px 0px 0px 0px;        
          list-style-type: none;
          li{     
            border-top: 1px solid #555;
            background: #222;
            &:hover{background: #555;}
            a{           
              display: block; 
              padding: 0px 0px 0px 20px;
              font-size: 1.1rem;
              color: #fff;
              &:hover {
                text-decoration: underline;
                color: #fff;
              }             
            }
          }
        }
      }
  } 

} 

    