<footer>
    <div class="footer_container">
        <table><tr>
            <td><%= link_to " ", "https://www.myhq.org.uk", class: "myhq_icon"%></td>
            <td class="footer_text">e-business solutions for small businesses.</td>
        </tr></table>               
    </div>    
</footer>    