<div class="page_title">
    <h1>Loaded Backgrounds</h1>
    <div class="page_title_button"><%= link_to 'Upload Background', new_background_path %></div>
</div>

<div class="image_content_with_title">

    <% if @backgrounds %>        
        <% @backgrounds.each do |background| %>               
            <div class="web_image_tile">
                <div class="image"><%= image_tag(background.background_url(:thumb), {:width => "100px", :height => "100px"})%></div>                  
                <div class="web_image_delete"><%= link_to '', background, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete image"  %>
                </div>
            </div>
        <% end %>    
    <% else %>
        <div class="web_image_tile">
            No background images have been uploaded.
        </div>
    <% end %>
</div>
