/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
$lrg_menu: 860px;
$tab_lrg_menu: 720px;
$tab_sml_menu: 540px;
$mob_menu: 430px;

//index table 
.content_order{display: table-cell; width: 40px}
.content_type{display: table-cell; width: 120px}
.content_visibility{display: table-cell; width: 80px}
.content_title{display: table-cell; width: 150px}

@media screen and (max-width: $lrg_menu) {

}

@media screen and (max-width: $tab_lrg_menu) {
.content_type{display: none}
}
  
@media screen and (max-width: $tab_sml_menu) {
.content_order{display: none}
}

@media screen and (max-width: $mob_menu) {
.content_visibility{display: none}
}
