//core-ui
@import "core";
@import "buttons";

/*project index page - title css*/ 
.page_title {
  position: absolute;
  top: 70px;
  left: 10px;
  right: 10px;
  height: 35px;
  color: #333333;
  border-bottom: 2px solid #dddddd;
  }
  @media screen and (max-width: $medium_menu) {
    .page_title  {
      top: 58px;
      height: 27px;
      text-overflow:ellipsis;
      overflow: hidden;
      white-space:nowrap;
      }
  }
  @media screen and (max-width: $small_menu) {
    .page_title {
      top: 55px;
      height: 23px;
      }
  }
  
.page_title_button{
  position: absolute;
  top: 10px;
  right: 8px;
  @include small-button;
  @include green-button;
  border: 1px solid #878787;
  }  
  @media screen and (max-width: $medium_menu) {
  .page_title_button{top: 4px;}    
  }  
  @media screen and (max-width: $small_menu) {
  .page_title_button{top: 0px; right: 0px;}    
  }
    
.page_info {
  position: absolute;
  width:100%;
  top:63px;
  left: 10px;
  color: #777777;
  }
  @media screen and (max-width: $medium_menu) {
    .page_info {
      top: 52px;
      }
  }

.page_info_item{
  float: left;
  padding: 0px 10px 0px 0px;
}

        
/*project index page - options css*/  
.option_band_single {
  position: absolute;
  top: 84px;
  left: 10px;
  right: 10px;
  height: 26px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  padding: 2px 0px 0px 7px;
  border: 1px solid #bababa;
  @include border-radius(0.5rem);
  @include light_grey_24_gradient;
  .error{
  color: #ff0000;
  }
  }
  @media screen and (max-width: $medium_menu) {
    .option_band_single {
      top: 70px;
      }
  }
  
//project select in option band
.index_select{
  position: absolute;
  top: 1px;
  left: 2px;
  padding: 0px 0px 0px 5px;
  }

.index_select_label{  
  padding: 5px 5px 0px 0px;
}
 
.index_select_input{  
  position: absolute;
  top: 1px;
  left: 55px;
}

.option_band_button{
  position: absolute;
  top: 4px;
  right: 6px;
  @include small-button;
  @include green-button;
  border: 1px solid #878787;
  }
 
