//settings
$heading_font: 'Ek Mukta';
$content_font: Arial,Helvetica,sans-serif;
$font_color: #fff;

//same as bootstrap settings
$small_device: 655px;

//HEADER CSS
a.login_link{
  float: right;
  background-color: #ccc;
  font-weight: bold;
  padding: 2px 5px 3px 5px;
  margin: 0px 20px 10px 0px;
  font-family: $heading_font;
  font-size: 1.2rem;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  &:visited{color: #ffffff;}    
  &:hover{ 
    background-color: green;
    color: #ffffff;
  }
}


.header{
  display: block;
  padding: 0px 20px 0px 20px;
  font-size: 2.0rem;
  }
  @media screen and (max-width: $small_device) {
      .header{
        font-size: 1.6rem;
    }
  }

.header div{

  padding: 0px 10px 0px 10px;
  text-align: center;
}

.header div div{
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

td.logo{
  vertical-align: bottom;
}

td.tagline{
  width: 100%;
  padding: 0px 50px 4px 10px;
  font-size: 2.0rem;
  vertical-align: bottom;
}
