//same as bootstrap settings
$large_device: 1200px;
$medium_device: 992px;
$small_device: 768px;


.social_media_links{
  height: 30px;
  margin: 20px 20px 10px 20px;
  padding: 0px 0px 0px 10px;
  a{
    float: right;
    width: 30px;
    height: 30px;    
  }
}

a.facebook {
    background: asset_url('media_icons.png') 0px 0px;
    &:hover{background: asset_url('media_icons.png') 0px -30px;}
  }

a.twitter {
    background: asset_url('media_icons.png') 90px 0px;
    &:hover{background: asset_url('media_icons.png') 90px -30px;}
  }

a.googleplus {
    background: asset_url('media_icons.png') 30px 0px;
    &:hover{background: asset_url('media_icons.png') 30px -30px;}
  }

a.linkedin {
    background: asset_url('media_icons.png') 60px 0px;
    &:hover{background: asset_url('media_icons.png') 60px -30px;}
  }