// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Marck+Script);
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta);
@import url(https://fonts.googleapis.com/css?family=Play);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);


//settings
$heading_font: 'Ek Mukta';
$content_font: Arial,Helvetica,sans-serif;
$font_color: #fff;

//same as bootstrap settings
$large_device: 1200px;
$medium_device: 992px;
$small_device: 768px;

//GLOBAL PAGE CSS
body { 
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

//ul {list-style-type: none; padding:0; margin:0; text-align:center;}

a{color:#ffffff;
      text-decoration: none;}
a:hover{
  color: #ffffff;
  text-decoration: none;
}
a:visited{color: #000;}

.background{
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  z-index: -1000;
}

.background_image_1{@extend .background; background: asset_url('background_image_1.png');}
.background_image_2{@extend .background; background: asset_url('background_image_2.png');}
.background_image_3{@extend .background; background: asset_url('background_image_3.png');}
.background_image_4{@extend .background; background: asset_url('background_image_4.png');}
.background_image_5{@extend .background; background: asset_url('background_image_5.png');}
.background_image_6{@extend .background; background: asset_url('background_image_6.png');}
.background_image_7{@extend .background; background: asset_url('background_image_7.png');}
.background_image_8{@extend .background; background: asset_url('background_image_8.png');}
.background_image_9{@extend .background; background: asset_url('background_image_9.png');}
.background_image_10{@extend .background; background: asset_url('background_image_10.png');}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px; /* or 950px */
}


//PAGE CONTENT CSS
.web_content{
  clear: both;
  width: 100%;
  padding: 20px 0px 20px 0px;  
}