//settings
$heading_font: 'Ek Mukta';
$content_font: Arial,Helvetica,sans-serif;
$font_color: #fff;

//same as bootstrap settings
$small_device: 640px;

//HEADER CSS
a.login_link{
  float: right;
  background-color: #ccc;
  font-weight: bold;
  padding: 2px 5px 3px 5px;
  margin: 0px 20px 10px 0px;
  font-family: $heading_font;
  font-size: 1.2rem;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  &:visited{color: #ffffff;}    
  &:hover{ 
    background-color: green;
    color: #ffffff;
  }
}


.header_small{
  display: none;
  padding: 0px 20px 0px 20px;
}
@media screen and (max-width: $small_device) {
    .header_small{
      display: block;      
  }
}

.header_small div{
  font-size: 1.6rem;
  padding: 0px 10px 0px 10px;
  text-align: center;
}


.header_medium{
  position:relative;
  height: 75px;
  font-size: 2.0rem;
  padding: 0px 20px 0px 20px;
}
@media screen and (max-width: $small_device) {
    .header_medium{
      display: none;
  }
}

.header_medium img{
  position:absolute;
  bottom:0;
}
