// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Marck+Script);
@import url(http://fonts.googleapis.com/css?family=Ek+Mukta);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Pacifico);


//settings
$heading_font: 'Ek Mukta';
$content_font: Arial,Helvetica,sans-serif;
$font_color: #fff;

//same as bootstrap settings
$large_device: 1200px;
$medium_device: 992px;
$small_device: 768px;


@mixin dark_grey_24_gradient {background: asset_url('dark_grey_24.png') repeat-x};

//GLOBAL PAGE CSS
body { 
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

//ul {list-style-type: none; padding:0; margin:0; text-align:center;}

a{color:#ffffff;}
a:hover{
  color: #ffffff;
  text-decoration: none;
}
a:visited{color: #000;}

.background{
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  z-index: -1000;
}


.background_image_1{
  @extend .background;
  background: asset_url('background_image_1.png');
  height: 115%;
}


div.help_tooltip{
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: asset_url('tooltip_icon.png');
}


.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px; /* or 950px */
}

//HEADER CSS
.login_container{
  float: right;
  width: 50px;
  height: 24px;
    a{color:#eee;}
    a:hover{
      color: #fff;
      text-decoration: none;
    }
    a:visited{color: #eee;} 
}
  @media screen and (max-width: $medium_device) {
    .login_container{
      height: 34px;
     }  
  }

.login_link{
  @include dark_grey_24_gradient;
  display: inline-block;  
  width: 50px;
  height: 22px;
  padding: 2px 0px 0px 0px;
  color:#ffffff;
  font-family: $heading_font;
  font-size: 1.2rem;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  &:hover{ 
    background: none;
    background-color: green;
    color: #ffffff;
  }
}


.header_container{
  clear:both;
  width: 100%;
}


@media screen and (min-width: $medium_device) {
  .company_info_small{
    display: none;
  }
}

.company_logo_small{
  height: 75px;
  width: 100%;
}

a.company_logo_link{
  height: 75px;
  width: 100%;
}

.company_tagline_small{
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.tagline_cell_small{
  text-align:center;
  font-size: 1.6rem;
}


  @media screen and (max-width: $medium_device) {
    .company_info_medium{
      display: none;
  }
}

.tagline_cell_medium{
  font-size: 1.6rem;
  text-align:left;
  width: 600px;
  padding: 0px 0px 0px 15px;
  }


.social_media_container{
  clear:both;
  width: 100%;
  height: 30px; 
}
  @media screen and (min-width: $medium_device) {
    .social_media_container{
      padding: 10px 0px 0px 0px;
     }  
  }
  @media screen and (max-width: $medium_device) {
    .social_media_container{
      padding: 10px 0px 0px 0px;
     } 
  }  

.social_media_link{
  float: right; 
  padding: 0px 0px 0px 5px;
  background-position:  0px 0px; 
}


a.facebook {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: asset_url('media_icons.png') 0px 0px;
    &:hover{
      background: asset_url('media_icons.png') 0px -30px;
    }
}

a.twitter {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: asset_url('media_icons.png') 90px 0px;
    &:hover{
      background: asset_url('media_icons.png') 90px -30px;
    }
}

a.googleplus {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: asset_url('media_icons.png') 30px 0px;
    &:hover{
      background: asset_url('media_icons.png') 30px -30px;
    }
}

a.linkedin {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: asset_url('media_icons.png') 60px 0px;
    &:hover{
      background: asset_url('media_icons.png') 60px -30px;
    }
}

//PAGE CONTENT CSS
.web_content{
  clear: both;
  width: 100%;
  padding: 20px 0px 20px 0px;  
}

//tile display

  .all_devices{display: block;}  
  .tablets{display: block;} 
  .desktops{display: block;} 
  
  @media screen and (max-width: $small_device) {
    .tablets{
      display: none;
     }  
  }

  @media screen and (max-width: $medium_device) {
    .desktops{
      display: none;
     }  
  }

.tile_container{
  float: left;
  width: 200px;
  height: 200px;
  a{  text-decoration: none;;}
  a:hover{
    text-decoration: none;;
  }
  a:visited{  text-decoration: none;;}

}

.empty_tile{
  float: left;
  width: 200px;
  height: 200px;
  }

.tile{
  width: 200px;
  height: 200px;
}

//ecommerce link
.tile_ecommerce_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1200px no-repeat;
}

.tile_ecommerce_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1400px no-repeat;
}

.tile_ecommerce_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1400px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -1200px no-repeat;}
}

.tile_ecommerce_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1200px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -1400px no-repeat;}
}

//about link
.tile_about_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px 0px no-repeat;
}

.tile_about_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -200px no-repeat;
}

.tile_about_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -200px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px 0px no-repeat;}
}

.tile_about_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px 0px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -200px no-repeat;}
}

//services link
.tile_services_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2400px no-repeat;
}

.tile_services_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2600px no-repeat;
}

.tile_services_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2600px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -2400px no-repeat;}
}

.tile_services_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2400px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -2600px no-repeat;}
}

//products link
.tile_products_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2000px no-repeat;
}

.tile_products_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2200px no-repeat;
}

.tile_products_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2200px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -2000px no-repeat;}
}

.tile_products_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2000px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -2200px no-repeat;}
}

//banks link
.tile_banks_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -400px no-repeat;
}

.tile_banks_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -600px no-repeat;
}

.tile_banks_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -600px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -400px no-repeat;}
}

.tile_banks_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -400px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -600px no-repeat;}
}

//books link
.tile_books_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -800px no-repeat;
}

.tile_books_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1000px no-repeat;
}

.tile_books_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1000px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -800px no-repeat;}
}

.tile_books_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -800px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -1000px no-repeat;}
}

//networkings link
.tile_networkings_black{
    @extend .tile;
    background: asset_url('networkings_icon_black.png');
}

.tile_networkings_white{
    @extend .tile;
    background: asset_url('networkings_icon_white.png');
}

.tile_networkings_white_black{
    @extend .tile;
    background: asset_url('networkings_icon_white.png');
    &:hover{background: asset_url('networkings_icon_black.png');}
}

.tile_networkings_black_white{
    @extend .tile;
    background: asset_url('networkings_icon_white.png');
    &:hover{background: asset_url('networkings_icon_black.png');}
}

//plans link
.tile_plans_black{
    @extend .tile;
    background: asset_url('plans_icon_black.png');
}

.tile_plans_white{
    @extend .tile;
    background: asset_url('plans_icon_white.png');
}

.tile_plans_white_black{
    @extend .tile;
    background: asset_url('plans_icon_white.png');
    &:hover{background: asset_url('plans_icon_black.png');}
}

.tile_plans_black_white{
    @extend .tile;
    background: asset_url('plans_icon_white.png');
    &:hover{background: asset_url('plans_icon_black.png');}
}

//trainings link
.tile_trainings_black{
    @extend .tile;
    background: asset_url('trainings_icon_black.png');
}

.tile_trainings_white{
    @extend .tile;
    background: asset_url('trainings_icon_white.png');
}

.tile_trainings_white_black{
    @extend .tile;
    background: asset_url('trainings_icon_white.png');
    &:hover{background: asset_url('trainings_icon_black.png');}
}

.tile_trainings_black_white{
    @extend .tile;
    background: asset_url('trainings_icon_white.png');
    &:hover{background: asset_url('trainings_icon_black.png');}
}

//webpages link
.tile_webpages_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2800px no-repeat;
}

.tile_webpages_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -3000px no-repeat;
}

.tile_webpages_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -3000px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -2800px no-repeat;}
}

.tile_webpages_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -2800px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -3000px no-repeat;}
}

//events link
.tile_events_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1600px no-repeat;
}

.tile_events_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1800px no-repeat;
}

.tile_events_white_black{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1800px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -1600px no-repeat;}
}

.tile_events_black_white{
    @extend .tile;
    background: asset_url('web_page_icons.png') 0px -1600px no-repeat;
    &:hover{background: asset_url('web_page_icons.png') 0px -1800px no-repeat;}
}
.images_tile{
  @extend .tile;  
  position: relative;
  top: 0;
  left: 0;
}

.multiple_images_tile{
  @extend .images_tile;  
}


.tile_content{
  width: 200px;
  height: 200px;
  padding: 10px 0px 0px 0px;
  ul{      padding: 0px 0px 0px 0px;
          list-style-type: none;
  } 
}

//FOOTER CSS
.footer_container{
  clear: both;
  padding: 40px 0px 0px 0px;
}


.footer_text{ font-family: $content_font;
  font-size: 10px;
  vertical-align:bottom;
  text-align:left;
  width: 300px;
  padding: 0px 0px 3px 5px;
  }

a.myhq_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: asset_url('myhq_logo_small.png');
    &:hover{
      background: asset_url('myhq_logo_small.png');
    }
}


//FONT STYLES
.tile_title_text {
  font-family: 'Ek Mukta', sans-serif;
  font-size: 1.8rem;
  text-decoration: none;
  text-align:center;
  font-weight:bold;
  padding: 10px 0px 10px 0px;
}

.tile_content_text {
  font-family: $content_font;
  font-size: 12px;

  text-align:center;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
}

td.tile_day_text {
  @extend .tile_content_text;
  width:67px;
  padding: 0px 0px 0px 0px;
  text-align: right;
}

td.tile_hours_text {
  @extend .tile_content_text;
  width: 100px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}


.tile_link_icon {
  width: 200px;
  height: 200px;

}

.rotating-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* feature content*/
.feature_tile{
  float: left;
  width: 100%;
}

.feature_tile_container{float: left;}


.feature_tile_item{
  float: left;
  width: 300px;
  height: 460px;
  padding: 10px 20px 10px 20px;
}

.feature_sub_tile{
  float: left;
  width: 260px;
  height: 440px;
}

@mixin border-radius($var) {-moz-border-radius:$var; -webkit-border-radius:$var; border-radius:$var;}
.web_content_tile_image{
  width: 200px;
  height: 200px;
  margin-left: 30px;
  background-color: #fff;
  @include border-radius(8px);
  border: 2px solid #66aa00;
}

.web_content_tile_title{
  width: 260px;
  height: 30px;
  margin: 15px 0px 5px 0px;
  font-size: 2.0rem;
  text-align: center;
  color: #66aa00;  
}

.web_content_tile_text{
  width: 260px;
  height: 100px;
  font-size: 1.2rem;
  text-align: justify;
  color: #000;  
}

.web_content_tile_link{
  width: 160px;
  height: 30px;
  margin-left: 60px;
  background-color: #000;  
  @include border-radius(8px);
  border: 2px solid #66aa00;
}

.web_content_tile_link_text{
  width: 100%;
  padding: 3px 0px 0px 0px;
  font-size: 1.3rem;
  font-weight:bold;
  text-align: center;
  color: #fff;
}

.event_container{
    margin-top: 10px;
  padding: 0px 10px 0px 10px;    
}

.event_title {
  background-color:#ccc;
  font-size: 1.2rem;
  font-weight:bold;

  padding: 8px 10px 5px 10px;   
}

.event_info {
  font-size: 1.2rem;
  background-color:#ddd;
  padding: 8px 10px 10px 10px;   
}

.website_page_title{
  font-size:2rem;
  font-weight:bold;
  padding: 0px 10px 0px 10px;    
}
