// Place all the styles related to the websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//settings
$background-colour: white;//transparent;
$tile_color: #663399;
$tile_color_1: $tile_color;
$tile_color_2: darken( $tile_color, 15% ); 
$tile_color_3: lighten( $tile_color, 15% );

$heading_font: "Trebuchet MS", Trebuchet, "Liberation Sans", sans-serif;
$content_font: Arial,Helvetica,sans-serif;
$font_color: #fff;

//same as bootstrap settings
$large_device: 1200px;
$medium_device: 992px;
$small_device: 768px;


@mixin dark_grey_24_gradient {background: image-url('dark_grey_24.png') repeat-x};


//GLOBAL PAGE CSS


body {  
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;  
  }

a:hover{text-decoration: none;}  

ul {list-style-type: none; padding:0; margin:0; text-align:center;}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px; /* or 950px */
}

//HEADER CSS
.login_container{
  float: right;
  width: 50px;
  height: 24px; 
}
  @media screen and (max-width: $medium_device) {
    .login_container{
      height: 34px;
     }  
  }

.login_link{
  @include dark_grey_24_gradient;
  display: inline-block;  
  width: 50px;
  height: 24px;
  padding: 2px 0px 0px 0px;
  color:#ffffff;
  font-family: $heading_font;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  &:hover{ 
    background: none;
    background-color: green;
    color: #ffffff;
  }
}

a{color:#ffffff;}
a:hover{color: #ffffff;}
a:visited{color: #ffffff;}


.header_container{
  clear: both; 
  height: 75px;
}

.company_logo{
  float: left;
  height: inherit;
  width: 75px;
  background: url('specright_logo_portrait.png') 0px 0px;
}

.company_tagline{
  clear:both;
  width: 100%;
  padding: 20px 0px 20px 0px;
}
  @media screen and (max-width: $medium_device) {
    .company_tagline{
      padding: 10px 0px 0px 0px;
     }  
  }

.tagline_cell{  font-family: $heading_font;
  font-size: 1.8rem;
  text-align:center;

  }
  @media screen and (max-width: $small_device) {
    .tagline_cell{
      text-align: center;
    }
  }

.social_media_container{
  clear:both;
  width: 100%;
  height: 30px;
  padding: 0px 0px 0px 0px;   
}
  @media screen and (max-width: $medium_device) {
    .social_media_container{
      clear:both;
      width: 100%;
      height: 30px; 
      padding: 20px 0px 0px 0px;
     }  
  }

.social_media_link{
  float: right; 
  padding: 0px 0px 0px 5px;
  background-position:  0px 0px; 
}


a.facebook {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('media_icons.png') 0px 0px;
    &:hover{
      background: url('media_icons.png') 0px -30px;
    }
}

a.twitter {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('media_icons.png') 90px 0px;
    &:hover{
      background: url('media_icons.png') 90px -30px;
    }
}

a.googleplus {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('media_icons.png') 30px 0px;
    &:hover{
      background: url('media_icons.png') 30px -30px;
    }
}

a.linkedin {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url('media_icons.png') 60px 0px;
    &:hover{
      background: url('media_icons.png') 60px -30px;
    }
}

//PAGE CONTENT CSS
.content{
  clear: both;
  width: 100%;
  padding: 20px 0px 20px 0px;  
}


.tile_container{
  float: left;
  width: 200px;
  height: 200px;
}

.colour_1 {background-color: $tile_color_1; color: set-button-text-color($tile_color_1);}
.colour_2 {background-color: $tile_color_2; color: set-button-text-color($tile_color_2);}
.colour_3 {background-color: $tile_color_3; color: set-button-text-color($tile_color_3);}

.empty_tile{
  float: left;
  width: 200px;
  height: 200px;
  }
  @media screen and (max-width: $medium_device) {
    .empty_tile{
      display: none;
     }  
  }

.tile{
  width: 200px;
  height: 200px;
}

.images_tile{
  @extend .tile;  
  position: relative;
  top: 0;
  left: 0;
}



.tile_content{
  width: 200px;
  height: 200px;
  padding: 30px 0px 0px 0px;
  
}

//FOOTER CSS
.footer_container{
  clear: both;
  padding: 25px 0px 0px 0px;
}


.myhq_link{
  float: left;  
}


//FONT STYLES
.company_tagline_text {
  font-family: $heading_font;
  font-size: 2.8rem;
  //font-weight:bold;
}

.tile_title_text {
  font-family: $heading_font;
  font-size: 1.8rem;
  text-align:center;
  font-weight:bold;
}

.tile_content_text {
  font-family: $content_font;
  font-size: 1.2rem;
  text-align:center;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
}

.tile_link_icon {
  position:relative;
  top: 15px;
  left:60px;
  width: 75px;
  height: 75px;
}

.rotating-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}