<div class="row title_band">
    <div class="page_title">
        <h1>Loaded Icons</h1>
    </div>
    <div class="title_help" id="icons_index"></div>       
    <div><%= link_to 'Upload Icon', new_icon_path, class: "title_button" %></div>
</div>

<div class="row">

    <div class="col-1-1 column_1">
        <div class="border">
                                        
        <%= render :partial => "flash_notice" %>                 
                        
            <div class="row">
                <% if @icons %>        
                    <% @icons.each do |icon| %> 
                        <div class="image_tile">
                            <%= image_tag(icon.icon_url)%>
                            <%= link_to '', icon, method: :delete, data: { confirm: 'Are you sure?' }, title: "delete image" %>                      
                        </div>
                        <% end %>
                <% else %> 
                    <p>No icon images have been uploaded.</p>
                <% end %>   
            </div>
        </div>
    </div>

</div>            