<div class="page_title">
    <div class="page_title_text">
        <h1>Image Tile: Selected Images</h1>        
    </div> 
    <div class="title_help_tooltip" id="page_imagesettings_list"></div>     
    <div class="page_title_button"><%= link_to 'Add Image', new_imagesetting_path(:content_id => @content.id) %></div>
</div>


<div class="image_content_with_title">

    <% if @imagesettings %>        
        <% @imagesettings.each do |imagesetting| %>               
            <div class="web_image_tile">
                <div class="image"><%= image_tag(imagesetting.image.image_url(:thumb))%></div>                  
                <div class="web_image_delete"><%= link_to '', imagesetting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete image"  %>
                </div>
            </div>
        <% end %>    
    <% else %>
        <div class="web_image_tile">
            No images select.
        </div>
    <% end %>
</div>
