<div class="page_title">
    <h1>Image Tile: Selected Image</h1>    
    <% if !@imagesetting %>
        <div class="page_title_button"><%= link_to 'Add Image', new_imagesetting_path(:content_id => @content.id) %></div>
    <% end %>
</div>

<div class="image_content_with_title">

    <% if @imagesetting %>                      
            <div class="web_image_tile">
                <div class="image"><%= image_tag(@imagesetting.image.image_url, {:width => "100px", :height => "100px"})%></div>                  
                <div class="web_image_delete"><%= link_to '', @imagesetting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete image"  %>
                </div>
            </div>
        <% end %>    
    <% else %>
        <div class="web_image_tile">
            No images select.
        </div>
    <% end %>
</div>

