<!DOCTYPE html>
<html>
<head>
  <title>Mjweb</title>
  <%= stylesheet_link_tag    "mjweb/application", media: "all" %>
  <%= javascript_include_tag "mjweb/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
