<div class="page_title">
    <h1>Loaded Images</h1>
    <div class="page_title_button"><%= link_to 'Upload Image', new_image_path %></div>
</div>

<div class="image_content_with_title">

    <% if @images %>        
        <% @images.each do |image| %>               
            <div class="web_image_tile">
                <div class="image"><%= image_tag(image.image_url, {:width => "100px", :height => "100px"})%></div>                  
                <div class="web_image_delete"><%= link_to '', image, method: :delete, data: { confirm: 'Are you sure?' }, class: 'line_delete_icon', title: "delete image"  %>
                </div>
            </div>
        <% end %>    
    <% else %>
        <div class="web_image_tile">
            No images uploaded.
        </div>
    <% end %>
</div>


    
    

            