<h1>Website Images</h1>

<% if @images %>        
    <% @images.each do |image| %>
      <div class="website_images">
        <table>
            <tr><td><%= image_tag image.photo(:thumb) %></td></tr>
            <tr><td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger"  %></td></tr>
        </table>
      </div>
    <% end %>
<% else %>
    <div class="website_images">
        No images have been uploaded.
    </div>
<% end %>

<%= link_to 'New Image', new_image_path, class: "btn btn-sm btn-success"  %>
<%= link_to "Back to Settings Menu", mjweb.settings_path, class: "btn btn-sm btn-warning btn pull-right" %>