<div class="page_title">
    <div class="page_title_text">
        <h1>Edit information item </h1>        
    </div> 
    <div class="title_help_tooltip" id="page_info_edit"></div>     
</div>


<div class="page_title">
    <h1>Edit information item</h1>
</div>

<%=  render :partial => "form", locals: {info: @info}  %>
