<div class="page_title">
    <div class="page_title_text">
        <h1>Create information item </h1>        
    </div> 
    <div class="title_help_tooltip" id="page_info_new"></div>     
</div>

<%=  render :partial => "form", locals: {info: @info}  %>
