<div class="page_title">
    <h1>Services Information</h1>
    <div class="page_title_button_red"><%= link_to "back to content list", contents_path %> </div>
</div>

<%=  render :partial => "content_index", locals: {contents: @contents, content: @content}  %>