<div class="row title_band">
    <div class="page_title">
        <h1>Edit Page</h1>
    </div>
    <div class="title_help" id="page_pages_edit"></div>
</div>


<%=  render :partial => "form", locals: {page: @page}  %>
