<div class="page_title">
    <div class="page_title_text">
        <h1>Edit Page</h1>        
    </div> 
    <div class="title_help_tooltip" id="page_pages_edit"></div>     
</div>

<%=  render :partial => "form", locals: {page: @page}  %>
