
    <div class="feature_tile">     
        <div class="feature_tile_container">
            <% @contents.each_with_index do |content, i|%>
            <div id ="feature_tile_<%= i %>" class="feature_tile_item">
            <div class="feature_sub_tile">                
                    <%= image_tag "#{content.image}.png", :border=>0, :class=>"web_content_tile_image" %>
                    <p class="web_content_tile_title"><%= content.title %></p>
                    <p class="web_content_tile_text"><%= content.text %></p>                  
            </div>
            </div>
            <% end %>       
        </div>
            
    </div>
    