<footer>
    <div class="footer_container">
        <table><tr>
            <td><%= link_to " ", "www.myhq.org.uk", class: "myhq_icon"%></td>
            <td class="footer_text">myhq promotional text here</td>
        </tr></table>               
    </div>    
</footer>    