
    <div class="tile_container">
          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=200x200&sensor=false&zoom=15&markers=#{company.latitude},#{company.longitude}" %>  
    </div>
                       