
  <div class="tile_container">             
       <div class="hover_<%=h colour_ref %> tile_webpages_<%= link_icon(colour_settings, colour_ref)%>">
        <a class="hover_link_<%=h colour_ref %>" href="<%= webpage_websites_path %>">
            <div class="tile_content image">
                <p class="tile_title_text">Website</p>
            </div>
        </a>
      </div> 
  </div>      
                                   