


  <%= tile_link_icon(colour_settings, colour_ref, 0) %>
  
  <div class="tile_container">
       <div class="hover_<%= colour_ref %> tile">
        <a href="">
            <div class="tile_content image">
                <p class="tile_title_text">Our Shop</p>
            </div>
        </a>
      </div> 
  </div>  
                         