  <div class="tile_container">             
       <div class="hover_<%=h colour_ref %> tile_5_link_<%= link_icon(colour_settings, colour_ref)%>">
        <a class="hover_link_<%=h colour_ref %>" href="<%= event_websites_path %>">
            <div class="tile_content image">
                <div class="tile_title_text">Events</div>
            </div>
        </a>
      </div> 
  </div>                          