
    <div class="tile_container">
        <div class="colour_<%= colour_ref %> tile">
            <div class="tile_content">
                <p class="tile_title_text">Services</p>
                <ul>
                    <% services.each do |service|%>
                    <li class="tile_content_text"><%= service.title %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>                               