
<div class="tile_container">
    <div class="images_tile">
        <% if images %>
            <% images.each do |image| %>
                <%= image_tag(image.photo, height: '200', width: '200', :class => "rotating-item") %>       
            <% end %>
        <% end %>
    </div>
</div>                       