      
  <%= tile_link_image('white', 0) %>
  
  <div class="tile_container">
        <div class="hover_<%= colour_ref %> tile">
        <a href="<%= about_website_path %>">
            <div class="tile_content image">
                <p class="tile_title_text">Our Shop</p>
            </div>
        </a>
        </div> 
  </div>                       