
  <div class="tile_container">             
       <div class="hover_<%=h colour_ref %> tile_trainings_<%= link_icon(colour_settings, colour_ref)%>">
        <a class="hover_link_<%=h colour_ref %>" href="<%= training_websites_path %>">
            <div class="tile_content image">
                <div class="tile_title_text">Training</div>
            </div>
        </a>
      </div> 
  </div>      
                                   