  <div class="tile_container">             
       <div class="hover_<%= colour_ref %> tile_ecommerce_<%= link_icon(colour_settings, colour_ref)%>">
        <a class="hover_link_<%=h colour_ref %>" href="">
            <div class="tile_content image">
                <div class="tile_title_text">Our Shop</div>
            </div>
        </a>
      </div> 
  </div>                        