
<article>
    <div class="content">    
        <% @contents.each_with_index do |content, i| %>  
                <%= content_display(content, @colour_settings, i) %>                  
        <% end%> 
    </div>      
</article>
                     